@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;

    /* color:#ffffff */
    --color-button--primary: #ffffff;
    --color-icon: #ffffff;
    --color-arrowBtn: #ffffff;

    /* color: #fff6ed */
    --color-body: #fff6ed;
    --color-background: #fff6ed;

    /* color:#040f73 */
    --color-text-content: #040f73;
    --color-text-button-secondary: #040f73;
    --color--background-span: #040f73;

    /* color:#2d3579; */
    --color-phone-icon: #2d3579;

    /* color:#6a6e8f */
    --color-info-link-text: #6a6e8f;

    /* color:#424875 */
    --color-text-subtitle: #424875;

    /* color: #ff5b2e */
    --color-social-item-backgraund: #ff5b2e;
    --color-button-background: #ff5b2e;
    --color-infoLink-hover: #ff5b2e;
    --color-infoLink-after: #ff5b2e;
    --color-background-button--primary: #ff5b2e;

    /* color:#ef491c */
    --color-socialItem-hover: #ef491c;
}

body {
    background-color: var(--color-body);
}