.header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header__bgrndImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Для екранів до 992px */
@media (max-width: 992px) {
    .header__bgrndImg {
        object-fit: none;
        object-position: left top;
    }
}


/* block with logo, list, icon */
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001;
}

@media (max-width: 992px) {
    .header__top {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 768px) {
    .header__top {
        padding-left: 24px;
        padding-right: 24px;
    }
}


.header__menu {
    display: flex;
}


/* === LOGO === */
.header__logoIcon {
    display: flex;
    align-items: center;
    width: 168px;
}

/* === BURGER === */
.burger {
    display: none;
    flex-direction: column;
    padding: 12px 8px;
    gap: 5px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    /* z-index: 10001; */
}

.burger span {
    height: 2px;
    background-color: var(--color--background-span);
    border-radius: 2px;
    transition: 0.3s ease;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/* === INFO === */
.header__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 0 10px;
}

/* ul */
.header__infoList {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* li */
.header__infoItem {
    display: inline-block;
    margin: 10px 17.5px;
}

/* a */
.header__infoLink {
    display: inline;
    text-decoration: none;
    font-size: 15px;
    color: var(--color-info-link-text);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position: relative;
    white-space: nowrap;
}

/* псевдоелемент лінія */
.header__infoLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-infoLink-after);
    transition: width 0.3s ease;

}

/* При наведенні на посилання */
.header__infoLink:hover {
    color: var(--color-infoLink-hover);
}

/* При наведенні на посилання - показуємо лінію */
.header__infoLink:hover::after {
    width: 30px;
}

/* === SOCIAL === */
.header__social {
    display: flex;
    margin: 5px 15px 0 15px;
}

/* ul */
.header__socialList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    column-gap: 5px;
}

/* li */
.header__socialItem {
    background-color: var(--color-social-item-backgraund);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

/* li:hover */
.header__socialItem:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    background-color: var(--color-socialItem-hover);
}

/* a */
.header__socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: var(--color-social-item-backgraund);
    border-radius: 50%;
}

/* icon */
.header__icon {
    width: 18px;
    height: 18px;
    display: block;
    color: var(--color-icon);
}

@media (max-width: 992px) {

    .header__info,
    .header__social {
        display: none;
    }

    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logoIcon {
        order: 1;
    }

    .burger {
        order: 2;
        display: flex;
    }

    .header__top.active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10002;
    }

    /* add background */
    .header__top.active::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff6ed;
        z-index: -1;
    }

    .header__menu.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: calc(60px + 20px);
        left: 0;
        right: 0;
        padding-bottom: 30px;
        z-index: 10001;
        padding-left: 32px;
        padding-right: 32px;
        margin: -10px -5px;
    }

    /* div info */
    .header__info.active {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    /* ul info */
    .header__info.active .header__infoList {
        display: block;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /* li info */
    .header__infoItem {
        display: flex;
        align-items: center;
        justify-content: center;
        display: inline-block;
        width: 100%;
        margin: 10px 5px;
    }

    /* a info */
    .header__infoLink {
        font-size: 17px;
    }

    /* div social */
    .header__social.active {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    /* ul social */
    .header__social.active .header__socialList {
        display: flex;
        column-gap: 5px;
        justify-content: center;
    }

    /* li social */
    .header__socialItem {
        display: inline-block;
    }

    .header__content,
    .footer,
    .main {
        display: none;
    }

    body.menu-open {
        overflow: hidden;
    }
}


/* Content */
.header__content {
    display: block;
    color: var(--color-text-content);
    padding: 110px 24px 100px 24px;
    justify-content: center;
}

@media (min-width: 768px) {
    .header__content {
        padding: 160px 32px 137.5px 32px;
    }
}

@media (min-width: 992px) {
    .header__content {
        padding: 210px 15px 175px 15px;
    }
}

/* block text */
.header__title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    word-wrap: break-word;
}

/* main title */
.header__mainTitle {
    font-family: "Rubik", sans-serif;
    font-size: 46px;
    /* font-weight: 700; */
}

/* sub title */
.header__subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    color: var(--color-text-subtitle);
    margin-top: 35px;
}

/* Buttons */
.header__buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 55px;
    margin-left: -10px;
}

.header__button {
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
    font-size: 15.4px;
    /* text-align: center; */
    position: relative;
}

.header__button--primary {
    background-color: var(--color-background-button--primary);
    color: var(--color-button--primary);
    padding: 16px 28px 16px 28px;
    margin: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
}

.header__button--secondary {
    display: flex;
    color: var(--color-text-button-secondary);
    margin: 10px;
    max-width: 270px;
    align-items: center;
}

.header__button--primary:hover {
    background-color: #58e263;
}

.header__button--secondary:hover {
    text-decoration: underline;
}

.header__arrowBtn {
    width: 30px;
    height: 24px;
    color: var(--color-arrowBtn);
    font-size: 15px;
}

.header__phoneIcon {
    width: 24px;
    height: 24px;
    color: var(--color-phone-icon);
    margin-right: 8px;
}