/* === HEADER MAIN CONTAINER === */
.header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}


/* === NAVIGATION WRAPPER === */
.header__nav {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}


/* === TOP SECTION: LOGO, MENU, SOCIAL === */
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001;
}

/* === LOGO === */
.header__logo {
    margin: 5px 10px 0;
}

.header__logoIcon {
    display: flex;
    align-items: center;
    width: 168px;
}

/* === BURGER MENU === */
.burger {
    display: none;
    flex-direction: column;
    padding: 12px 8px;
    gap: 5px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger span {
    height: 2px;
    background-color: var(--color--background-spanBurger);
    border-radius: 2px;
    transition: 0.3s ease;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/* === INFO SECTION === */
.header__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 0;
}

.header__infoList {
    display: block;
    text-align: center;
    align-items: center;
    list-style: none;
    margin: -10px -17.5px;
}

.header__infoItem {
    display: inline-block;
    margin: 10px 17.5px;
}

.header__infoLink {
    display: inline;
    text-decoration: none;
    font-size: 15px;
    color: var(--color-info-link-text);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position: relative;
    white-space: nowrap;

}

.header__infoLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-infoLink-after);
    transition: width 0.3s ease;

}

.header__infoLink:hover {
    color: var(--color-infoLink-hover);
}

.header__infoLink:hover::after {
    width: 30px;
}

/* === SOCIAL SECTION === */
.header__social {
    display: flex;
    margin: 5px 15px 0;
}

.header__socialList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    column-gap: 5px;
}

.header__socialItem {
    background-color: var(--color-backgraund-social-item);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.header__socialItem:hover {
    transform: scale(1.05);
    background-color: var(--color-socialItem-hover);
}

.header__socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: var(--color-backgraund-social-item);
    border-radius: 50%;
}

.header__icon {
    width: 18px;
    height: 18px;
    display: block;
    color: var(--color-social-icon);
}

@media (max-width: 992px) {

    .header__info,
    .header__social {
        display: none;
    }

    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .header__top.active {
        position: fixed;
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: 768px) {
        .header__top.active {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    @media (min-width: 992px) {
        .header__top.active {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .header__top.active::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-top-active-before);
        z-index: -1;
    }

    .header__toggleMenu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header__toggleMenu.active {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10002;
    }

    .burger {
        display: flex;
    }

    .header__info.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 10px;
    }

    .header__info.active .header__infoList {
        display: block;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .header__infoItem {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px 5px;
    }

    .header__infoLink {
        font-size: 17px;
    }

    .header__social.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    .header__social.active .header__socialList {
        display: flex;
        column-gap: 5px;
        justify-content: center;
    }

    .header__socialItem {
        display: inline-block;
    }

    .header__content,
    .footer,
    .main {
        display: none;
    }

    body.menu-open {
        overflow: hidden;
    }
}

